#mainHeader {
  background-image: url("/main_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Затемнение фона */
#mainHeader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

#mainHeader .arrow {
  height: 45vh;
}

.we_help {
  font-family: AmericaXIX;
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  #mainHeader {
    height: 100vw;
  }
  #mainHeader::before {
    height: 100vw;
  }
  #mainHeader .arrow {
    height: 20vh;
  }
}

@media screen and (max-width: 576px) {

  #mainHeader .arrow {
    height: 20vh;
  }
}
